body {
  background-color: #303030;
}

.portfolio-header {
  position: relative;
  background-color: #212121;
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-layout__title {
  color: #E8E8E8;
  text-align: center;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.portfolio-logo-row {
  min-height: 200px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
}

@media (min-width: 600px) {
  .portfolio-logo {
    background: url(assets/images/logo.png) 50% no-repeat;
    background-size: cover;
    height: 100px;
    width: 500px;
    margin: auto auto 10px;
  }
}

/* Small Screen */
@media (max-width: 600px) {
  .portfolio-logo {
    background: url(assets/images/logo.png) 50% no-repeat;
    background-size: cover;
    height: 50px;
    width: 250px;
    margin: auto auto 10px;
    margin-top: 7px;
  }

  .portfolio-logo-row {
    min-height: 100px;
  }

  .mdl-layout__title {
    font-size: 14px;
  }

}

.is-compact .portfolio-logo {
  height: 50px;
  width: 250px;
  margin-top: 7px;
}

.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
  color: #E8E8E8;
}

.portfolio-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.portfolio-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.portfolio-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: blue;
  left: 15%;
}

.portfolio-card {
  background-color: #424242;
}
.portfolio-card .mdl-card__title {
  padding-bottom: 0;
  color: #fff;
}

.mdl-card {
  background: #424242;
}

.mdl-card__title-text {
  color: #fff;
}

h3, h4 {
  color: #fff;
}

/*.portfolio-blog-card-full-bg {
  background: url(assets/images/example-blog03.jpg) center / cover;
}

.portfolio-blog-card-event-bg {
  background: url(images/example-blog05.jpg) center / cover;
}

.portfolio-blog-card-strip-bg {
  background: url(images/example-blog06.jpg) center / cover;
}*/

.portfolio-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

img.article-image {
  width: 100%;
  height: auto;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-index-width {
  max-width: 600px;
  margin: auto;
}

.portfolio-copy {
  max-width: 900px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}

.mdl-mini-footer {
  background-color: #212121;
}

.mdl-card__supporting-text {
  color: #E8E8E8;
}

/* Card title */
.card-title {
  color: #fff;
  margin: 15px;
}

/* button spacing */
.download-button1 {
  padding: 0px 0px 20px 0px;
}

.download-button2 {
  padding: 0px 0px 20px 0px;
}

.download-button1 .mdl-button--raised.mdl-button--colored {
  color: #E8E8E8;
  background-color: red;
}

.download-button2 .mdl-button--raised.mdl-button--colored {
  color: #E8E8E8;
  background-color: blue;
}

p, ul {
  font-size: 15px;
}

.no-margin {
  margin: 0;
}

.projects-list {
  margin-top: 10px;
}

i {
  color: #fff;
}

.linkedin {
  background-color: #0e76a8;
}

.github {
  background-color: #333;
}

.gmail {
  background-color: #e93f2e;
}

.read-more {
  color: #E8E8E8;
}